# Either "dev" or "prod"
ENV_TYPE = "dev"
# These can be found at https://www.twilio.com/console.
ACCOUNT_SID = "<your-sid-here>"
AUTH_TOKEN = "<your-token-here>"
TWILIO_PHONE = "<your-twilio-phone-here>"
PERSONAL_PHONE = "<your-personal-phone-here>"
